.pontos-grid {
    margin: 0.5rem 0px !important;
}

.pontos-column {
    margin: 7rem 0px;

}

.pontos-segment {
    background-color: #ffffff !important;
    border: 5px solid #005C98 !important;
    padding: 15px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-radius: 9px !important;
}

.pontos-text {
    padding-right: 0px !important;
}

.pontos-text h4 {
    color: #063a7a;
    font-weight: bold;
    font-size: xx-large;
}

.pontos-text p {
    color: #080909;
    font-weight: 500;
    font-size: medium;
    margin-bottom: 0px !important;
}

.pontos-text p strong {
    color: #063a7a !important;
}

.pontos-image-p {
    text-decoration: none;
    color: #080909;
    font-weight: 500;
    font-size: 1em;
}

.pontos-image {
    text-align: center;
    margin-top: 20px !important;
}

.pontos-img {
    margin-bottom: 10px;
    border-radius: 4px;
}

/* .lista-listaPontoColeta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
    max-width: 80%;
    width: 100%;
}

.array-vazio {
    background-color: #135F99;
    color: #fff;
    margin: 100px 0px;
    padding: 20px;
    text-align: center;
    width: 100%;
} */

.lista-listaPontoColeta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* Altura mínima para manter um espaçamento considerável */
    max-width: 80%;
    width: 100%;
    margin: auto;
    /* Centraliza o container na página */
}

.array-vazio {
    text-align: center;
    padding: 20px;
    background-color: #135F99;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.array-vazio h1 {
    color: #fff;
    font-size: 24px;
}

/* footer */

.footer-pontoColeta {
    background-color: #10324B;
    padding: 20px 0;
    margin-top: 7em; 
    color: white;

}

.footer-image img {
    max-width: 100px;
}

.footer-text p {
    color: #fff;
    margin: 4px 0;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: start;
}

.footer-icons .icon {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .footer-text {
        text-align: center !important;
    }

    .footer-icons {
        text-align: center !important;
        justify-content: center !important;
    }

    .footer-image {
        text-align: center !important;
    }
}



@media only screen and (max-width: 768px) and (max-width: 991px) {

    .pontos-text h4 {
        text-align: start;

    }

    .pontos-image-p {
        text-decoration: none;
        color: #080909;
        font-weight: 500;
        font-size: medium;
    }




}