.container-etapaConfirmacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    margin: 85px auto;
    background-color: #fff;
    box-shadow: 0 0 20px #2b2c2d8d;
    border-radius: 14px;
    padding-bottom: 30px;
}

.icon-background-etapaConfirmacao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #135F99; 
    border-radius: 50%; 
    width: 70px; 
    height: 70px; 
    margin-top: 10px;
}

.custom-lock-icon {
    color: #fff;
    font-size: 36px; 
}

.container-etapaConfirmacao-internal {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100%;
}

.p-info-envio-sms{
    color: #055019;
    font-weight: 500;
}

.custom-input-verification-code {
    width: 200px;  /* Ou qualquer largura que você queira */
}

.btn-verificar-etapaConfirmacao {
    background-color: #135F99 !important;
    color: #fff !important;
    display: block !important;
    justify-content: center !important;
    margin: 20px 0px!important; 
}
.container-etapaConfirmacao-internal h3{
    color: #135F99;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 0px;
}
.container-etapaConfirmacao-internal span {
    color: #135F99;
    margin-top: 20px;
    cursor: pointer;
    
}
.container-etapaConfirmacao-internal span:hover{
    text-decoration: underline;

}





/* Responsividade para tablet */
@media (max-width: 768px) {
    .container-etapaConfirmacao {
        width: 90%;
        height: auto; 
        margin: 50px auto; 
    }

    
}

/* Responsividade para mobile */
@media (max-width: 480px) {
    .container-etapaConfirmacao {
        width: 100%;
        height: auto;
        margin: 30px auto; 
    }


    
}