.container-qr-code {
    width: 100% !important;
    border-radius: 16px !important;
    margin: 30px !important;
}

.gridColum01-mobile {
    background-color: #135F99 !important;
    border-radius: 25px;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
}


.container-continuar-btn-radio-group-qrCode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
