.r {
  margin: 0.5rem 0px !important;
  padding: 4.5rem 4rem !important;
  background-color: #fff;
}

.grid-internal-computer {
  margin: 0px 0px !important;
}

.espaco-entre {
  margin-left: 20px;
}

.column-image-internal-computer {
  background-color: #fff !important;
  padding: 0px !important;
  border-radius: 14px 0px 0px 14px;
  border-bottom: 5px solid #135F99;
  box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);

}

.column-image-internal-computer-image{
  border-radius: 14px 0px 0px 14px !important;
  margin: 0px !important;

}

.column-image-internal-mobile-tablet {
  background-color: #fff !important;
  padding: 0px !important; 
  border-radius: 14px 14px 0px 0px;
  border-bottom: none;
  box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);
}

.column-image-internal-mobile-tablet-image{
  border-radius: 14px 14px 0px 0px !important;
  margin: 0px !important;
}

.column-internal-computer {
  padding-top: 10px;
  background-color: #fff !important;
  border-radius: 0 14px 14px 0;
  border-bottom: 5px solid #135F99;
  box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);
}

.column-internal-computer h4{
  color: #135F99;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start !important;

}
.column-internal-mobile-tablet h4 {
  color: #135F99;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
}

.column-internal-computer p{
  color: #135F99;
  font-weight: bolder;
  font-size: medium;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.column-internal-mobile-tablet p {
  color: #135F99;
  font-weight: bolder;
  font-size: medium;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.column-internal-mobile-tablet {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0px 14px 14px;
  box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);
  border-bottom: 5px solid #135F99;

}

.twogrid-strong {
  color: #080909;
  font-weight: 500;
  font-size: medium;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.mobile-tablet-layout {
  border-bottom: none !important;
  border-radius: 14px 14px 0px 0px !important;

}


.mobile-tablet-layout-img{
  border-radius: 14px 14px 0px 0px !important;

}

.mobile-tablet-layout-computer{
  border-radius: 0px 0px 14px 14px !important;
}

.mobile-tablet-layout-computer h4{
  text-align: start !important;
}