.container-all-acoes-realizadas {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0px !important;
    padding: 4rem 6rem !important;
}

/* .column-all-acoes-realizadas-image {
    margin-left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 14px 0px 0px 14px;
    padding: 2rem 0px;
    backdrop-filter: blur(45px);
    box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);
    border-bottom: 5px solid #135F99;
} */

.column-all-acoes-realizadas-image {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 14px 0px 0px 14px;
    backdrop-filter: blur(45px);
    box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);
    border-bottom: 5px solid #135F99;
    padding: 0px !important;
}

.column-all-acoes-realizadas-image img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 14px 0px 0px 14px !important;
    object-fit: cover !important;
    /* Garante que a imagem cubra a área sem distorção */
}



.column-all-acoes-realizadas-text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 14px 14px 0;
    padding: 2rem;
    text-align: justify;
    box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);
    border-bottom: 5px solid #135F99;
}

.column-all-acoes-realizadas-text h4 {
    color: #135F99;
    font-weight: bolder !important;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.column-all-acoes-realizadas-text p {
    color: #090808;
    font-weight: 500;
    font-size: larger;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.column-all-acoes-realizadas-text strong {
    color: #135F99 !important;
    /* Cor mais escura para contraste */
    font-weight: bolder !important;
    font-size: larger;
    margin-bottom: 1rem;
}

.btn-verMais-acao {
    color: #135F99 !important;
    font-weight: bold !important;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-verMais-acao:hover {
    text-decoration: underline;
}

.carrega-mais-acoes {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 20px !important;
}

.carrega-mais-acoes button {
    background-color: #fff !important;
    color: #135F99 !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    border: 3px solid #135F99 !important;
    border-radius: 5px !important;
    transition: background-color 0.3s, color 0.3s !important;
}

.carrega-mais-acoes button:hover {
    background-color: #135F99 !important;
    color: #fff !important;
}

.lista-listaAcoesRealizadas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    max-width: 80%;
    width: 100%;
    margin: auto;
}

.array-vazio {
    text-align: center;
    padding: 20px;
    background-color: #135F99;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.array-vazio h1 {
    color: #fff;
    font-size: 24px;
}

/* Ajustes para aumentar o tamanho das imagens */
.column-all-acoes-realizadas-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media only screen and (max-width: 991px) {
    .container-all-acoes-realizadas {
        margin: 0px 0px;
    }

    .column-all-acoes-realizadas-image {
        border-radius: 14px 14px 0px 0px !important;
        border-bottom: none !important;
        box-shadow: 2px 2px 6px rgba(59, 58, 58, 0.64);
    }

    .column-all-acoes-realizadas-image img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 14px 14px 0px 0px !important;
        object-fit: cover !important;
        /* Garante que a imagem cubra a área sem distorção */
    }



    .column-all-acoes-realizadas-text {

        border-radius: 0px 0px 14px 14px !important;
        box-shadow: 2px 6px 6px rgba(59, 58, 58, 0.64);
        border-bottom: 5px solid #135F99 !important;
    }

    .column-all-acoes-realizadas-text h4 {
        color: #6990ad;
        font-weight: bolder !important;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .column-all-acoes-realizadas-text p {
        color: #080909;
        font-weight: 500;
        font-size: medium;
        line-height: 1.6;
        margin-bottom: 1rem;
    }

    .column-all-acoes-realizadas-text strong {
        color: #135F99 !important;
        font-weight: bolder !important;
        margin-bottom: 1rem;
    }

}