.container-all-acoes-realizadas{
    margin: 0.5rem 0px !important;
    padding: 4rem  6rem !important;
}

.column-all-acoes-realizadas-image{
    margin-left: 0;
    background-color: #10324B;
    border-radius:  14px 0px 0px 14px;
    padding: 2rem 0px;
}

.column-all-acoes-realizadas-text {
    background-color: #c8e9ff;
    border-radius: 0 14px 14px 0;
    padding: 2rem;
    text-align: justify;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
}

.column-all-acoes-realizadas-text h4 {
    text-align: center;
    color: #10324B;
    font-weight: 700; /* Negrito */
    font-size: 2rem; /* Tamanho maior para destaque */
    margin-bottom: 1rem;
}

.column-all-acoes-realizadas-text p {
    color: #2c3e50; /* Cor mais escura para contraste */
    font-weight: 500;
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-bottom: 1rem;
}

.column-all-acoes-realizadas-text strong {
    color: #10324B !important; /* Cor mais escura para contraste */
    font-weight: bolder !important;
    margin-bottom: 1rem;
}

.btn-verMais-acao {
    color: #10324B !important;
    font-weight: bold !important;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-verMais-acao:hover {
    text-decoration: underline;
}

.carrega-mais-acoes {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 20px !important;
}

.carrega-mais-acoes button {
    background-color: #fff !important;
    color: #10324B !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    border: 3px solid #10324B !important;
    border-radius: 5px !important;

    transition: background-color 0.3s, color 0.3s !important;
}

.carrega-mais-acoes button:hover {
    background-color: #10324B !important;
    color: #fff !important;
}


.lista-listaAcoesRealizadas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* Altura mínima para manter um espaçamento considerável */
    max-width: 80%;
    width: 100%;
    margin: auto;
    /* Centraliza o container na página */
}

.array-vazio {
    text-align: center;
    padding: 20px;
    background-color: #135F99;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.array-vazio h1 {
    color: #fff;
    font-size: 24px;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {

    .container-all-acoes-realizadas{
        margin: 0px 0px ;
    }

    .column-all-acoes-realizadas-image{
        border-radius:  14px 14px 0px 0px;
    }
    
    .column-all-acoes-realizadas-text{
        border-radius:  0px 0px 14px 14px;
    }

}